<h1>Listing scoring_schemes</h1>

<table>
  <tr>
    <th>Name</th>
    <% if admin? %>
      <th></th>
    <% end %>
  </tr>

<% @scoring_schemes.each do |scoring_scheme| %>
  <tr>
    <td><%= scoring_scheme.name %></td>
    <% if admin? %>
    <td><%= link_to 'Destroy', scoring_scheme, :data => { :confirm => 'Are you sure?' }, method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if admin? %>
  <%= link_to 'New Scoring scheme', new_scoring_scheme_path %>
<% end %>
