<h1>Bayou Grand Prix <%= @season.name %> Results</h1>
<p id="notice"><%= notice %></p>

<%= render(:partial => "teamlist", :object => @season) %>

<h2>Race Winners</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Track</th>
    <th>Country</th>
    <th>Winner</th>
  </tr>
  
</table>
