<h1>Bayou Grand Prix Racing League</h1>
<h2>Results by Season</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= link_to season.name, results_season_path(season) %></td>
  </tr>
<% end %>
</table>
<% if admin? %>
  <%= link_to "Edit Seasons", seasons_path %>
  <%= link_to "Edit Drivers", drivers_path %>
  <%= link_to "Edit Players", players_path %>
<% end %>
