<h1>Bayou Grand Prix Racing League</h1>
<div>Role: <%= session[:role] %></div>
<h2>Results by Season</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= link_to season.name, results_season_path(season) %></td>
  </tr>
<% end %>
</table>
