<h1>Listing drivers</h1>

<table id="drivers">
  <tr>
    <th>Name</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @drivers.each do |driver| %>
    <tr>
      <td><%= link_to driver.name, driver_path(driver) %></td>
      <td><%= link_to driver.player.name, player_path(driver.player) %></td>
    </tr>
  <% end %>
</table>

<br />

<% if admin? %>
  <%= link_to 'New Driver', new_driver_path %>
<% end %>
